<p>Dear <%= @name %>,</p>


<p>Click <a href="http://radiant-bastion-2990.herokuapp.com<%= @url %>">here</a> to see your message!</p>

<p>Best,</p>

<p>The 'Do Your Chores!' Team</p>

<p>P.S. Get on with it!</p>

