
<center>
    <h3>Who is your message going to?</h3>
    <form method="post">
        <label>Email</label>
        <input type="text" name="email">
        <br>
        <input type="submit" class="btn">
    </form>
</center>

