<center>
  <h3>Who is your message going to?</h3>
  <form method="post">
    <label>Their name</label>
    <input type="text" name="name">
    <label>Their e-mail address</label>
    <input type="text" name="email">
    <input class="hidden" name="url" value="<%= @url%>" >
    <br>
    <input type="submit" class="btn">
  </form>
</center>

