<!DOCTYPE html>
<html>
<head>
    <title>Household Chores!</title>
    <link rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap.css'> 
</head>
<body>
    <div class='container'>
    <h1><%= @message %></h1>
    <img src=<%= image_path %> >
</div>
</body>
</html>