<!DOCTYPE html>
<html>
<head>
    <title>Fashion compliments!</title>
    <link rel='stylesheet' type='text/css' href='bootstrap.css'> 
</head>
<body>
    <h1><%= @message %></h1>
    <img src=<%= image_path %> >
</body>
</html>