<h1>Do your chores!</h1>
<h3>An effective way to get your kids or housemates to pull their weight around the house!</h3>
<br>

<h1>Your options...</h1> 
<h3>Input one of the following options into your browser, replacing ':name' and ':from' where required to create a message!

<br>
<br>

<h3>/clean/:name/:from</h3><br>
<p>"Clean the house, :name! Thanks, :from."</p> <br>


<h3>/bedroom/:name/:from</h3> <br>
<p>"Your bedroom could do with a tidy, :name! Thanks, :from."</p><br>


<h3>/vacuum/:name/:from</h3><br>
<p>"Isn't it your turn to do the vacuuming, :name? Thanks, :from."</p><br>
 

<h3>/rubbish/:name/:from</h3><br>
<p>"Please take out the bins, :name! Thanks, :from."</p><br>


<h3>/kitchen/:name/:from</h3><br>
<p>"The dishes have been piling up in the sink, :name! Thanks, :from."</p><br>

<h3>/garden/:name/:from</h3><br>
<p>"Your turn to mow the lawn, :name! Thanks, :from."</p><br> 


<h3>/me/:from</h3><br>
<p>"I'll just do all the cleaning, shall I? Thanks, but no thanks! - :from."</p><br>

<h3>/thanks/:name/:from</h3><br>
<p>"Thanks for all of your hard work around the house, :name! I really appreciate it! From, :from X"</p><br>

