<!DOCTYPE html>
<html>
<head>
    <title>Household Chores!</title>
    <link rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap.css'> 
    <link rel='stylesheet' type='text/css' href='/main.css'> 
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Dancing+Script:400,700|Crimson+Text:400,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/dustpan.jpeg">

</head>
<body>
    
<div class='container'>
   
   <%= yield %>
   
</div>
</body>
</html>